*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
  overflow-x: hidden;
}
.header{
    width: 100%;
    height: 95vh;
    background-image: url(img/bgpix.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content{
    margin-top: 150px;
}

.content-header{
    font-size: 60px;
    color: #fff;
    border-left: 3px solid #eee;
    padding-left: 15px;
    font-weight: 700;
}
.heading-pry{
    display: block;
    font-size: 35px;
    font-weight: 250;
    margin-bottom: 40px;
}
.heading-sub{
    display:block;
    font-size: 30px;
    font-weight: 400px;
    margin-bottom: 40px;
    color: #fff;
    padding-left: 20px;
}
.container{
    /* margin-top: 50px; */
    /* margin-left: 50px;
    padding: 20px 20px; */
    /* margin-bottom: 50px; */
}
/* About us */
.section-two{
    background-color: #eee;
}
.sect-two{
    display: inline-block;
}
.hr-sect1{
    display: inline-block;
    width: 20%;
}
/* meet the team */
.secton-three{
    background-color: #ffffff;
}

 /*Contact us section*/   
#contact {
 background-image: linear-gradient(to right top, rgba(255, 255, 255, 0.952), rgba(255, 255, 255, 0.3)), url(img/start.jpg);
 background-position: center;
 background-size: cover;
}
.contact__heading {
 text-transform: uppercase;
 margin-top: 30px;
 color: #aaadc1;
 font-size: 0.7rem;
 margin-bottom: 1rem;
 letter-spacing: 2px;
}
.contact__sub-heading {
 text-transform: capitalize;
 font-size: 2.5rem;
 color: rgb(27, 26, 26);
 display: inline-block;
 margin-right: 1rem;
 margin-bottom: 2rem;
}
.contact__line {
 width: 20%;
 display: inline-block;
 vertical-align: center;
}
.contact__icons {
 margin: 1rem 0;
}
.contact__title {
 text-transform: capitalize;
 font-size: 1rem;
 color: rgb(27, 26, 26);
 font-weight: 700;
 margin-bottom: 1rem;
}
.contact__article {
 color: #aaadc1;
 font-size: 0.8rem;
 word-spacing: 2px;
 margin-bottom: 4rem;
}
.right {
 display: flex;
}
.contact-card {
 padding-right: 5rem;
}
.contact-card img {
 margin-bottom: 1rem;
}
label,
.contact__locaton-title {
 color: #0b0d19;
 font-size: 0.9rem;
 text-transform: uppercase;
 font-weight: 700;
 letter-spacing: 2px;
}
.contact__locaton-body {
 color: #aaadc1;
 font-size: 0.8rem;
 word-spacing: 2px;
}
.contact__locaton-socials {
 font-size: 1.5rem;
 margin-bottom: 2rem;
}
.fab {
 margin-right: 1rem;
 background-color: #aaadc1;
 padding: 0.6rem;
 border-radius: 50%;
 color: #fff;
}
.form-group>input,
.form-group>textarea {
 background-color: #eaedf2;
 border: none;
 color: #aaadc1 !important;
}
.contact__mailing>input:focus,
.form-group>input:focus,
.form-group>textarea:focus {
 background-color: #eaedf2;
 box-shadow: none;
}
.send {
 color: #fff !important;
 background: linear-gradient(to right bottom, #a23aff, #050cce);
 border-radius: 100px;
}
.join {
 color: #fff !important;
 background: linear-gradient(to right bottom, #a23aff, #6266ff);
 font-size: 1.2rem;
 padding: 0.5rem 0.5rem 0.6rem;
}
a.join {
 text-decoration: none;
}
.contact__mailing>input {
 background: none;
 border: none;
 height: 2.5rem;
 font-size: 1rem;
 padding: 0.5rem;
 width: 60%;
 background-color: #eaedf2;
 color: white !important;
}
.contact__mailing>input:focus {
 outline: none;
}

/*clent profile section*/
    
.client-profile {
 background-color: #eaedf2;
 position: relative;
}
.boat {
 position:absolute;
 width: 489px;
 top:0%;
 right: 0;
}
.client-profile__title {
 text-transform: uppercase;
 padding-top: 20px;
 color: #aaadc1;
 font-size: 0.9rem;
 margin-bottom: 1rem;
 margin-left: 0.5rem;
 letter-spacing: 2px;
}
.client-profile__heading {
 text-transform: capitalize;
 font-size: 2.5rem;
 color: #0b0d19;
 display: inline-block;
 margin-right: 1.5rem;
 margin-bottom: 3rem;
 padding-right: 3rem;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 border-left: 0.3rem solid var(--color-main);
}
.client-profile__title,
.client-profile__heading {
 padding-left: 1.5rem;
}
/* .sub {
 padding-left: 2rem;
 margin-bottom: 2rem;
} */
.client-profile__subtitle {
 text-transform: capitalize;
 font-size: 1rem;
 color: #0b0d19;
 font-weight: 700;
}
.client-profile__article {
 color: #aaadc1;
 font-size: 0.8rem;
 word-spacing: 1.5px;
 width: 15vw;
}
.client-profile__link {
 text-transform: uppercase;
 font-size: 0.7rem;
 color: #aaadc1;
 font-weight: 700;
 margin-bottom: 20px;
}
.client-profile__link:hover {
 color: #0b0d19;
 text-decoration: none;
}
footer{
    background-color: #eee;
    font-size: 13px;
    margin-top: 30px;
    padding-top: 20px;
}


  
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
  @media only screen and (min-width: 768px) and (max-width: 1024px) {

    .content{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 10px;
    }
    .boat {
        position:static;
        width: 489px;
       top:10%;
       right: 0;
       }
 }
 @media only screen and (min-width: 320px) and (max-width: 480px) {
    .boat {
        display: none;
        
       }
    body{
        overflow-x: hidden;
    }
    .content{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 10px;
    
    }
    .content-header{
        font-size:30px;
        margin-top: 80px;
    }
    .header{
        background-position: center;
    }

    .contact__sub-heading {
      font-size: 2rem;
      margin-right: 1rem;
      margin-bottom: 2rem;
     }

    footer p{
      padding: 0 15px;
      font-size: 12px;
    }

    .container{
      /* margin-top: 50px; */
      margin: 0 10px;
      padding: 5px 5px;
      /* margin-bottom: 50px; */
  }
  }